<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Azucar y sus Derivados</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/index.html">
                    <img src="img/logo.svg" alt="Logotipo de Azucar">
                </a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="img/barras.svg" alt="Icono Menu">
                    </a>
                </div>

                <nav id="navegacion" class="navegacion">
                    <a href="index.html">Inicio</a>
                    <a href="contacto.html">Contacto</a>
                    <a href="nosotros.html">Quienes somos</a>
                    <a href="">Iniciar Sesion</a>
                    
                </nav>
            </div>
        </div> <!-- contenedor -->
    </header>

    <main class="seccion contenedor">
        <h2 class="fw-300 centrar-texto">Nuestros Productos</h2>

        <div class="contenedor-anuncios">
            <div class="anuncio">
                <img src="img/anuncio1.jpg" alt="Anuncio azucar">
                <div class="contenido-anuncio">
                    <h3>Azucar</h3>
                    <p>Procedente de la caña de azúcar mediante un proceso de extracción químico y físico.</p>
                    <p class="precio">Q 3.50</p>
                </div>
            </div>

            <div class="anuncio">
                <img src="img/anuncio2.jpg" alt="Anuncio panela">
                <div class="contenido-anuncio">
                    <h3>Panela</h3>
                    <p>La panela es un edulcorante más natural que el azúcar blanco, esta no ha sido refinada</p>
                    <p class="precio">Q 2.50</p>                 
                </div>
            </div>

            <div class="anuncio">
                <img src="img/anuncio3.jpg" alt="Anuncio azucar morena">
                <div class="contenido-anuncio">
                    <h3>Azucar Morena</h3>
                    <p>El azúcar morena incluye del 3,5 % (azúcar moreno claro) al 6,5 % (azúcar moreno oscuro).</p>
                    <p class="precio">Q 3.00</p>                      
                </div>                
            </div> 

            <div class="anuncio">
                <img src="img/anuncio4.jpg" alt="Anuncio abono azucar">
                <div class="contenido-anuncio">
                    <h3>Abono de Azucar</h3>
                    <p>Las temperaturas mínimas que soporta son de 14 a 16 ºC, el crecimiento alrededor de los 30ºC.</p>
                    <p class="precio">Q  85.00</p>
                </div><!--contenido anuncio-->
            </div> <!--anuncio-->
        
            <div class="anuncio">
                <img src="img/anuncio5.jpg" alt="Anuncio melaza">
                <div class="contenido-anuncio">
                    <h3>Melaza</h3>
                    <p>Proporciona nutrientes como hidratos de carbono para la producción de energía, vitamina B6. </p>
                    <p class="precio">Q 105.00</p>
                   
                </div><!--contenido anuncio-->
            </div> <!--anuncio-->

            <div class="anuncio">
                <img src="img/anuncio6.jpg" alt="Anuncio dulces">
                <div class="contenido-anuncio">
                    <h3>Dulces</h3>
                    <p>El jugo no destilado de la caña de azúcar tras haberse puesto en remojo, hervido, moldeado y secado antes de pasar por el proceso.</p>
                    <p class="precio">Q 45.00</p>                    
                </div><!--contenido anuncio-->
            </div> <!--anuncio-->
        </div>
    </main>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="index.html">Inicio</a>
                <a href="contacto.html">Contacto</a>
                <a href="nosotros.html">Quienes somos</a>
                <a href="">Iniciar Sesion</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2020 &copy; </p>
        </div>
    </footer>
</body>
</html>