<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Azucar y sus Derivados</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/index.html">
                    <img src="img/logo.svg" alt="Logotipo de Azucar">
                </a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="img/barras.svg" alt="Icono Menu">
                    </a>
                </div>

                <nav id="navegacion" class="navegacion">
                    <a href="index.html">Inicio</a>
                    <a href="contacto.html">Contacto</a>
                    <a href="nosotros.html">Quienes somos</a>
                    <a href="">Iniciar Sesion</a>
                </nav>
            </div>
        </div> <!-- contenedor -->
    </header>

    <main class="contenedor">
        <h1 class="fw-300 centrar-texto"> Nosotros</h1>

        <div class="contenido-nosotros">
            <div class="imagen">
                <img src="img/nosotros.jpg" alt="Imagen Sobre Nosotros">
            </div>
            <div class="texto-nosotros">
                <blockquote>20 Años de Experiencia</blockquote>

               <p>Dedicados a la siembra, y cultivo de azúcar con entrega y esmero, nuestra historia es un recorrido por el tiempo que ha dejado huella. Siguiendo la Visión y el ejemplo incansable de trabajo y perseverancia de nuestro fundador UMG, hemos cultivado azúcar.</p>

               <p>y comercializado azúcar, panela, dulces, abono de azúcar etc. Hemos sido pioneros perseverantes e innovadores y esto nos ha llevado a ser los mejores en lo que hacemos.</p> 
            </div>
        </div>
    </main>
    
    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="index.html">Inicio</a>
                <a href="contacto.html">Contacto</a>
                <a href="nosotros.html">Quienes somos</a>
                <a href="">Iniciar Sesion</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2020 &copy; </p>
        </div>
    </footer>
</body>
</html>