{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'contrato/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 10%;">Fecha</th>
        <th scope="col" style="width: 10%;">Tipo</th>
        <th scope="col" style="width: 10%;">Puesto</th>
        <th scope="col" style="width: 10%;">Empleado</th>
        <th scope="col" style="width: 10%;">Ampellidos</th>
        <th scope="col" style="width: 10%;">Fecha de inicio</th>
        <th scope="col" style="width: 10%;">Salario base</th>
        <th scope="col" style="width: 10%;">Bonificacion</th>
        <th scope="col" style="width: 10%;">Opciones</th>
   </tr>
{% endblock %}

{% block javascript %}

{% endblock %}